body {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}
h1, h2 {
  margin: 0;
}
.output {
  flex-grow: 1;
  overflow-y: scroll;
}
.input {
  display: flex;
  justify-content: space-between;
  min-height: 25px;
  margin-top: 5px;
}
.input input {
  font-size: 16px;
  height: 20px;
}
.input input[type="text"] {
  flex-grow: 1;
}

.sys {
  color: #aaa;
  font-weight: 300;
}
.in {
  color: green;
}

.room {
  background-color: #f6f6f6;
  padding: 5px 0;
}
