@(message: String)

@main("The Big JT Adventure") {

  <div class="output" data-role="output">
    <h1>The Big JT Adventure</h1>
  </div>
  <form class="input">
    <input type="text" data-role="input" placeholder="Type here...">
    <input type="submit" value="Send">
  </form>
  <div style="display:none" data-role="help">
    <div class="help">
      <h2>Help</h2>
      This is a text game. You can type these commands to play:
      <ul>
        <li>chat
        <li>down
        <li>east
        <li>grab
        <li>help
        <li>kill
        <li>look
        <li>north
        <li>ping
        <li>recall
        <li>south
        <li>sleep
        <li>stare
        <li>up
        <li>west
        <li>wake
        <li>&lt;enter&gt;
      </ul>
    </div>
  </div>
}
